<div class="recuadroNav">
    <a class="navbar-link tipografia collision-blue" routerLink="/dashboard"><i class="fa fa-chart-line"></i>Dashboard</a>
</div>
<mat-divider class="text-white"></mat-divider>
<div class="recuadroNav">
    <a class="nav-link tipografia collision" routerLink="/profile" routerLinkActive="active"><i class="fa fa-user"></i>  Cuenta</a>
</div>
<mat-divider class="text-white"></mat-divider>
<div class="recuadroNav">
    <a class="nav-link tipografia collision" routerLink="/grupos" routerLinkActive="active"><i class="fa fa-users"></i>  Grupos</a>
</div>
<mat-divider class="text-white"></mat-divider>
<div class="recuadroNav">
    <a class="nav-link tipografia collision" routerLink="/grupo/add" routerLinkActive="active"><i class="fa fa-plus-circle"></i>  Add grupo</a>
</div>
<mat-divider class="text-white"></mat-divider>
<div class="recuadroNav">
    <button mat-button color="warn" (click)="logOut()" class="tipografia collision-red"><i class="fa fa-sign-out-alt"></i>  LogOut</button>
</div>