<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="logo">
            <img class="img-fluid" src="../../../assets/loginEstudiante/estudiante.png" alt="logo" width="300px">
            <div class="iniciaSesion mx-auto">
                <img class="img-fluid" src="../../../assets/loginEstudiante/iniciasesion.png" alt="iniciaSesion" srcset="">
            </div>
        </div>
    </div>
    <div class="col-md-8 offset-md-2 ">
        <form (ngSubmit)="loginEstudiante()" novalidate #formulario="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field hintLabel="8 digitos" class="inputs">
                        <input matInput #num_control maxlength="8" minlength="8" [(ngModel)]="numero_control" name="num_control" placeholder="Numero de control" pattern="[1-9]+[0-9]+" ngModel required>
                        <mat-hint align="end">{{num_control.value?.length || 0}}/8</mat-hint>
                        <mat-error *ngIf="num_control.invalid">Numero de control invalido</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="inputs">
                        <input matInput #pass [(ngModel)]="password" [type]="hide ? 'password' : 'text'" [formControl]="passFormControl" placeholder="Ingresa tu contraseña" ngModel required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="pass.invalid">Ingresa tu contraseña porfavor.</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-2 offset-md-5 mt-3">
                    <button mat-stroked-button type="submit" [disabled]="formulario.invalid">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>