<div class="col margenGrande">
    <div class="col-md-4 offset-md-4 text-center">
        <div class="imagenUsuario">
            <img #botonProfe (click)="openDialogProfe(botonProfe.alt)" class="img-fluid" src="../../../assets/inicio/profesor.png" alt="profesor">
        </div>
    </div>
    <div class="col-md-4 offset-md-6 text-center margenMediano">
        <div class="imagenUsuario">
            <img #botonEst (click)="openDialogEst(botonEst.alt)" class="img-fluid" src="../../../assets/inicio/estudiante.png" alt="estudiante">
        </div>
    </div>
</div>