<div class="scroll">
    <table mat-table class="" [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- num_control Column -->
        <ng-container matColumnDef="num_control">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <p class="tabla-head">Nº Control</p>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.num_control}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre_est">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <p class="tabla-head">Nombre</p>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre_est}} </td>
        </ng-container>

        <!-- date Column -->
        <ng-container matColumnDef="6/1/2020">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <p class="tabla-head">6/1/2020</p>
            </th>
            <td mat-cell *matCellDef="let element"> {{columnas[2].name}} </td>
        </ng-container>
        <ng-container matColumnDef="7/1/2020">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <p class="tabla-head">7/1/2020</p>
            </th>
            <td mat-cell *matCellDef="let element"> {{columnas[3].name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>