.logo {
    height: 50%;
    width: 50%;
    text-align: center;
}

.centrarVertical {
    margin: 10px auto;
    width: 100%;
    background-color: #E7F6F6;
    border: 1px solid #99cccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iniciarSesion {
    width: 80%;
    text-align: center;
}