<!-- <div class="row mt-3">
    <div class="col-md-4 offset-md-4">
        
    </div>
</div> -->
<mat-card>
    <mat-card-header>
        <div class="iniciarSesion">
            <img class="img-fluid" src="../../../assets/loginProfesor/iniciasesion.png" alt="login" srcset="">
        </div>
    </mat-card-header>

    <form (ngSubmit)="loginProfesor()" novalidate #formulario="ngForm">
        <mat-card-content>
            <div class="row mt-2">
                <div class="col-md-12">
                    <mat-form-field hintLabel="8 digitos" class="inputs">
                        <input matInput #clave maxlength="8" minlength="1" [(ngModel)]="clave_profesor" name="clave" placeholder="Clave" pattern="[0-9]+[0-9]*" ngModel required>
                        <mat-hint align="end">{{clave.value?.length || 0}}/8</mat-hint>
                        <mat-error *ngIf="clave.invalid">Clave invalida</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-12 mt-2">
                    <mat-form-field class="inputs">
                        <input matInput [(ngModel)]="password" [type]="hide ? 'password' : 'text'" [formControl]="passFormControl" placeholder="Ingresa tu contraseña" ngModel required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="passFormControl.hasError('required')">
                            Ingresa tu contraseña porfavor.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button align="end" mat-stroked-button type="submit" [disabled]="formulario.invalid">Entrar</button>
        </mat-card-actions>
    </form>
</mat-card>