<div class="col-md-8 offset-md-2 pt-1 pb-1">
    <div class="row">
        <div class="col-md-5">
            <div class="logoTecnm mx-auto">
                <img class="img-fluid" src="../../../assets/encabezado/tecnm.png" alt="logoTecNM">
            </div>
        </div>
        <div class="col-md-5">
            <div class="mx-auto align-items-center">
                <img class="img-fluid" src="../../../assets/encabezado/nombre.png" alt="logoName">
            </div>
        </div>
        <div class="col-md-2">
            <div class="logoTec mx-auto mt-3">
                <img class="img-fluid" src="../../../assets/encabezado/ito.png" alt="logoITO">
            </div>
        </div>
    </div>
</div>
<div class="col-md-1 offset-md-1 pt-5">
    <a routerLink="/" class="inicio">Ayuda</a>
</div>