<div class="row">
    <div class="col-md-12">
        <mat-card>
            <div class="bg-azul mb-2">
                <div class="imagen mx-auto mt-1">
                    <img mat-card-image src="../../../assets/comunes/user.png" alt="login">
                </div>
                <div class="registro">
                    <img mat-card-image src="../../../assets/comunes/registrate.png" alt="login">
                </div>
            </div>
            <form (ngSubmit)="signUp()" novalidate #formulario="ngForm">
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="inputs">
                                <mat-label>Nombre(s)</mat-label>
                                <input matInput [formControl]='nombreFormControl' [(ngModel)]='profesor.nombre' name="nombre" placeholder="Nombre(s)">
                                <mat-error *ngIf="nombreFormControl.hasError('required')">
                                    Nombre <strong>obligatorio</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 inputs">
                            <mat-form-field appearance="outline" class="inputs">
                                <mat-label>Apellido(s)</mat-label>
                                <input matInput [formControl]='apellidoFormControl' [(ngModel)]='profesor.apellido' name="apellido" placeholder="Apellido(s)">
                                <mat-error *ngIf="nombreFormControl.hasError('required')">
                                    Apellido <strong>obligatorio</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-md-12 inputs">
                            <mat-form-field appearance="outline" class="inputs">
                                <mat-label>Email</mat-label>
                                <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" [(ngModel)]='profesor.email' name="email" placeholder="Email">
                                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                    Porfavor ingresa un email valido
                                </mat-error>
                                <mat-error *ngIf="emailFormControl.hasError('required')">
                                    Email <strong>obligatorio</strong>
                                </mat-error>
                            </mat-form-field>
                        </div> -->
                        <div class="col-md-12 inputs">
                            <mat-form-field appearance="outline" class="inputs">
                                <mat-label>Contraseña</mat-label>
                                <input matInput [(ngModel)]="profesor.password" [type]="hide ? 'password' : 'text'" [formControl]="passFormControl" placeholder="Contraseña">
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                <mat-error *ngIf="passFormControl.hasError('minlength') && !passFormControl.hasError('required')">
                                    Contraseña debe teenr almenos 6 caracteres
                                </mat-error>
                                <mat-error *ngIf="passFormControl.hasError( 'required') ">
                                    Contraseña <strong>obligatoria</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12 inputs ">
                            <mat-form-field appearance="outline" class="inputs">
                                <mat-label>Confirma tu contraseña</mat-label>
                                <input matInput [(ngModel)]="confirm_password" [type]="hide ? 'password' : 'text'" [formControl]="confirm_passFormControl" placeholder="Contraseña">
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                <mat-error *ngIf="confirm_passFormControl.hasError( 'required') ">
                                    Confirmacion <strong>obligatoria</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="container ">
                        <div class="row ">
                            <div class="col-md-12 ">
                                <button class="btn-block " mat-raised-button type="submit " [disabled]="formulario.invalid ">COMENZAR !!!</button>
                            </div>
                        </div>
                    </div>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</div>