<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Listas">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Lista">
                <mat-grid-list class="mt-3" cols="5" rowHeight="146px">
                    <mat-grid-tile class="borde" [colspan]="4" [rowspan]="3">
                        <app-lista> </app-lista>
                    </mat-grid-tile>
                    <mat-grid-tile class="borde" [colspan]="1" [rowspan]="1">
                        <div class="row">
                            <div class="col-md-12 ml-2">
                                <app-download-pdf></app-download-pdf>
                            </div>
                            <div class="col-md-12  ml-2 mt-3">
                                <app-download-xlsx></app-download-xlsx>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-tab>
            <mat-tab label="Asistencia">
                <mat-grid-list class="mt-2" cols="6" rowHeight="70px">
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field appearance="outline" class="inputs">
                            <mat-select [(ngModel)]="unidad" (selectionChange)="selectUnidad($event)">
                                <mat-option *ngFor="let unidad of unidades" [value]="unidad">
                                    {{ unidad }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="5" rowHeight="125px">
                    <mat-grid-tile class="borde" [colspan]="4" [rowspan]="3">
                        <app-lista-asistencia></app-lista-asistencia>
                    </mat-grid-tile>
                    <mat-grid-tile class="borde" [colspan]="1" [rowspan]="1">
                        <div class="row">
                            <div class="col-md-12 ml-2">
                                <app-download-pdf></app-download-pdf>
                            </div>
                            <div class="col-md-12  ml-2 mt-3">
                                <app-download-xlsx></app-download-xlsx>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-tab>
            <mat-tab label="Calificaciones">
                Calificaciones works
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Add Estudiante">
        <mat-grid-list class="mt-4" cols="6" rowHeight="100px">
            <mat-grid-tile class="p-2" [colspan]="3" [rowspan]="3">
                <app-add-estudiante></app-add-estudiante>
            </mat-grid-tile>
            <mat-grid-tile class="p-2" [colspan]="3" [rowspan]="3">
                <app-add-estudiantes></app-add-estudiantes>
            </mat-grid-tile>
        </mat-grid-list>
        <!-- <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Manual">
                <mat-grid-list class="mt-4" cols="5" rowHeight="100px">
                    <mat-grid-tile [colspan]="5" [rowspan]="3">
                        <app-add-estudiante></app-add-estudiante>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-tab>
            <mat-tab label="Desde archivo">
                <mat-grid-list cols="5" rowHeight="80px">
                    <mat-grid-tile [colspan]="5" [rowspan]="3">
                        <app-add-estudiantes></app-add-estudiantes>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-tab>
        </mat-tab-group> -->
    </mat-tab>
    <mat-tab label="Add criterio">
        <mat-grid-list class="mt-4" cols="6" rowHeight="80px">
            <mat-grid-tile [colspan]="2" [rowspan]="1">
            </mat-grid-tile>
            <mat-grid-tile class="" [colspan]="2" [rowspan]="1">
                <mat-form-field appearance="outline" class="inputs">
                    <mat-select [(ngModel)]="unidad" (selectionChange)="selectUnidad($event)">
                        <mat-option *ngFor="let unidad of unidades" [value]="unidad">
                            {{ unidad }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list class="" cols="6" rowHeight="100px">
            <mat-grid-tile class="borde" [colspan]="3" [rowspan]="3">
                <app-add-criterio></app-add-criterio>
            </mat-grid-tile>
            <mat-grid-tile class="borde" [colspan]="3" [rowspan]="3">
                <app-view-criterios></app-view-criterios>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
</mat-tab-group>