<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Listas">
        <div class="row mt-2">
            <div class="col-md-10 offset-md-1">
                <mat-tab-group mat-align-tabs="center">
                    <mat-tab label="Lista">
                        <mat-dialog-content class="inputs">
                            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                                <!-- num_control Column -->
                                <ng-container matColumnDef="num_control">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº Control</th>
                                    <td mat-cell *matCellDef="let element"> {{element.num_control}} </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="nombre_estudiante">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                    <td mat-cell *matCellDef="let element"> {{element.nombre_estudiante}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </mat-dialog-content>
                    </mat-tab>
                    <mat-tab label="Asistencia">
                        Asistencias works
                    </mat-tab>
                    <mat-tab label="Calificaciones">Calificaciones works</mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Add Estudiante">
        <div class="row mt-2">
            <div class="col-md-10 offset-md-1">
                <mat-tab-group mat-align-tabs="center">
                    <mat-tab label="Manual">
                        <div class="row mt-5 mb-3">
                            <div class="col-md-8 offset-md-2">
                                <mat-card class="example-card">
                                    <form (ngSubmit)="saveEstudiante()" novalidate #formulario="ngForm">
                                        <mat-card-header>
                                            <mat-card-title>Nuevo estudiante</mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <div class="container-num-control">
                                                <mat-form-field hintLabel="8 digitos">
                                                    <input matInput #num_control maxlength="8" minlength="8" [(ngModel)]="estudiante.num_control" name="num_control" placeholder="Numero de control" (blur)="validateEstudiante()" pattern="[1-9]+[0-9]+" ngModel required>
                                                    <mat-hint align="end">{{num_control.value?.length || 0}}/8</mat-hint>
                                                    <mat-error *ngIf="num_control.invalid">Numero de control invalido</mat-error>
                                                </mat-form-field>
                                                <br><br><br><br><br><br><br><br>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [(ngModel)]="estudiante.nombre_estudiante" name="nombre_estudiante" placeholder="Nombre completo" ngModel required>
                                                </mat-form-field>
                                            </div>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-button type="submit" [disabled]="formulario.invalid">Guardar</button>
                                        </mat-card-actions>
                                    </form>
                                </mat-card>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Desde archivo">Desde archivos works</mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Add criterio">
        <div class="row mt-2">
            <div class="col-md-4 offset-md-4">
                <mat-form-field appearance="outline" class="inputs">
                    <mat-select [(ngModel)]="unidad">
                        <mat-option *ngFor="let unidad of unidades" [value]="unidad">
                            {{ unidad }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-divider></mat-divider>
                <mat-grid-list cols="4" rowHeight="150px">
                    <mat-grid-tile class="borde" [colspan]="2" [rowspan]="2" [style.background]="lightpink">
                        <form (ngSubmit)="saveCriterio()" novalidate #formulario="ngForm" class="text-center">
                            <mat-card-header>
                                <mat-card-title>Nuevo Criterio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <mat-form-field appearance="outline" class="inputs">
                                    <input matInput #newCriterio [(ngModel)]="criterio" name="criterio" placeholder="Nombre del criterio" ngModel required>
                                    <mat-error *ngIf="newCriterio.invalid">Nombre de criterio invalido</mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="inputs">
                                    <input matInput [(ngModel)]="porcentaje" name="porcentaje" placeholder="porcentaje" ngModel required>
                                </mat-form-field>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button type="submit" [disabled]="formulario.invalid">Guardar</button>
                            </mat-card-actions>
                        </form>
                    </mat-grid-tile>
                    <mat-grid-tile class="borde" [colspan]="2" [rowspan]="2">
                        <table mat-table [dataSource]="dataSourceCriterios">
                            <!-- Item Column -->
                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                <td mat-cell *matCellDef="let criterio"> {{criterio.nombre}} </td>
                                <td mat-footer-cell *matFooterCellDef> Total </td>
                            </ng-container>

                            <!-- Cost Column -->
                            <ng-container matColumnDef="porcentaje">
                                <th mat-header-cell *matHeaderCellDef> Porcentaje </th>
                                <td mat-cell *matCellDef="let criterio"> {{criterio.porcentaje | percent: '2.0'}} </td>
                                <td mat-footer-cell *matFooterCellDef> {{getTotalPorcentaje() | percent: '2.0'}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsPorcentaje"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsPorcentaje;"></tr>
                            <tr mat-footer-row *matFooterRowDef="displayedColumnsPorcentaje; sticky: true"></tr>
                        </table>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Graficas"> Graficas works </mat-tab>
</mat-tab-group>